@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* BG - #262c2c */
/* gold - #ffe5cf */
/* orange - #fb8557 */
/* green - #42c75e */

/* gray - #3f3f3f */
/* gold - #ecd06f */

/* niebieski - #a6c2e0 */
/* #efefe7 */
/* box-shadow: 0 1px 3px 0 rgba(0,0,0,.15) */